{% extends "base.html" %}

{% block content %}

	<form method="post">
		<h2>Sign up a new user</h2>
		<table>
			<tr>
				<td>
					Username
				</td>
				<td>
					<input type="text" name="username" value={{username}}>
				</td>
				<td class="error">
					{{user_error}}
				</td>
			</tr>
			<tr>
				<td>
					Password
				</td>
				<td>
					<input type="password" name="password">
				</td>
				<td class="error">
					{{password_error}}
				</td>
			</tr>
			<tr>
				<td>
					Verify Password
				</td>
				<td>
					<input type="password" name="verify">
				</td>
				<td class="error">
					{{verify_error}}
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Create Account">
				</td>
			</tr>
		</table>
	</form>

{% endblock %}
