{% extends "base.html" %}

{% block content %}
<form method="post">
	<h2>Add a question to the poll</h2>
	Question
	<input type="text" name="question" size="120px">
	<br><br>
	Answer #1
	<input type="text" name="answer1" size="118px">
	<br><br>
	Answer #2
	<input type="text" name="answer2" size="118px">
	<br><br>
	Answer #3
	<input type="text" name="answer3" size="118px">
	<br><br>
	Answer #4
	<input type="text" name="answer4" size="118px">
	<br><br>
	Answer #5
	<input type="text" name="answer5" size="118px">
	<br><br>
	<i>Feel free to leave an answer field blank</i>
	<br>
	<input type="submit" value="Add Question">
</form>

{% endblock %}
