{% extends "base.html" %}

{% block content %}
<form method="post">
	{% for question in questions %}
		<div class="col-9">
			<div class="question ">
				{{ question.question }}
			</div>
			{% for option in question.options %}
					{% if option in choices[question.question] %}
						<input type="radio" name="{{ question.question }}" value="{{ option }}" checked="checked">
					{% elif option not in choices[question.question] %}
						<input type="radio" name="{{ question.question }}" value="{{ option }}">
					{% elif question.question not in choices %}
						<input type="radio" name="{{ question.question }}" value="{{ option }}">
					{% endif %}
				{{ option | safe }}
				<br>
			{% endfor %}
			<br>
			<br>
		</div>
	{% endfor %}
	<input type="submit">
</form>

{% endblock %}
